<!DOCTYPE html>
<html>
	<head>
		<title>>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/cv">CV</a></li>
        		<li><a href="/blog">News</a></li>
        		<li><a href="/proj">Projects</a></li>
        		<li><a href="/teach">Teaching</a></li>
    		</ul>
		</nav>
		
		{{ content }}
			
		</div><!-- /.container -->
		<footer>
	    		<ul>
	        		<li><a href="mailto:svalver@gmail.com">email</a></li>
        			<li><a href="https://github.com/svalver">github.com/svalver</a></li>
        		</ul>
		</footer>
	</body>
</html>
